<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %blue(%-5level) %logger{36} [line:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/lingcai.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/lingcai.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="businessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<Encoding>UTF-8</Encoding>
        <!-- 按每小时滚动文件，如果一个小时内达到10M也会滚动文件, 滚动文件将会压缩成zip格式 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/business-%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 独立的pattern -->
         <layout class="ch.qos.logback.classic.PatternLayout">
         <pattern>
            <![CDATA[
             %d{HH:mm:ss.SSS} [%t] %X{traceId} [method=%X{method},url=%X{url},input=%X{inputStream},param=%X{parameterMap}]%n 
             [base=%X{base},type=%X{type},action=%X{action},username=%X{username},indecr=%X{indecr}] -%m%n
            ]]>
         </pattern>
         </layout>
    </appender>

    <!-- business log 使用独立的appender，不继承Root的appender -->
    <logger name="business" level="INFO" additivity="false">
        <appender-ref ref="businessLogFile" />
    </logger>
    
    <!-- project default level -->
    <logger name="com.palm.lingcai" level="DEBUG"/>

    <logger name="org.apache.ibatis" level="DEBUG"/>
    <logger name="org.mybatis.spring" level="DEBUG"/>
    <logger name="org.springframework.data.redis.core" level="ERROR"/>

    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>

    <!--springmvc -->
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.data.redis" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>