/* [export] */
/*CSS reset*/
html { color:#313131; background:#FFF; }
body,h1,h2,h3,h4,h5,h6,hr,div,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,h1,h2,h3,h4,h5,h6,span,p,input{margin:0;padding:0; font:12px; font-weight:normal;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"Microsoft YaHei","\5b8b\4f53"}
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style:inherit; font-weight:inherit; }
del, ins { text-decoration:none; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:baseline; }
sub { vertical-align:baseline; }
legend { color:#000; }
input, button, textarea, select, optgroup, option { font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }
input, button, textarea, select { *font-size:100%;}
a:link{ text-decoration:none;outline:none;hide-focus:expression(this.hideFocus=true);}
a:visited{text-decoration:none; outline:none;hide-focus:expression(this.hideFocus=true);}
a:hover{outline:none;cursor:pointer;hide-focus:expression(this.hideFocus=true);}
.fl{ float:left}
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix:after{displau:block;content:".";height:0;line-height:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;}
img{ border:0;}
/*文字排版*/
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24{ font-size:24px}
.fb { font-weight:bold }
.fn { font-weight:normal; }
.t2 { text-indent:2em; }
.lh150 { line-height:150%; }
.lh180 { line-height:180%; }
.lh200 { line-height:200%; }
.unl { text-decoration:underline; }
.no_unl { text-decoration:none; }
/*定位*/
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.bc { margin-left:0; margin-right:0; }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.cb,.clear { clear:both; }
.cl { clear:left; }
.cr { clear:right; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.vm { verticle-align:middle; }
.pr { position:relative; }
.pa { position:absolute; }
.abs-right { position:absolute; right:0 }
.zoom { zoom:1; }
.hidden { visiility:hidden; }
.none { display:none; }
/*长度高度*/
.w10 { width:10px; }
.w20 { width:20px; }
.w30 { width:30px; }
.w40 { width:40px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w700 { width:700px; }
.w800 { width:800px; }
.w { width:100% }
.h50 { width:50px; }
.h80 { width:80px; }
.h100 { width:100px; }
.h200 { width:200px; }
.h { height:100% }
/*边距*/
.m10 { margin:10px; }
.m15 { margin:15px; }
.m30 { margin:30px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt35 { margin-top:35px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:30px; }
.mt50 { margin-top:50px; }
.mt100 { margin-top:100px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb50 { margin-bottom:50px; }
.mb100 { margin-bottom:100px; }
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }
.ml50 { margin-left:50px; }
.ml100 { margin-left:100px; }
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mr50 { margin-right:50px; }
.mr100 { margin-right:100px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p30 { padding:30px; }
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt50 { padding-top:50px; }
.pt100 { padding-top:100px; }
.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb50 { padding-bottom:50px; }
.pb100 { padding-bottom:100px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl100 { padding-left:100px; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr50 { padding-right:50px; }
.pr100 { padding-right:100px; }
.lh36{ line-height:36px}

/*头部样式*/
.header-content{ height:70px; overflow:hidden; background:#fff;width:100%; border-bottom:1px solid #dadada }
.header-logo{ float:left; padding-top:22px; height:32px; overflow:hidden}
.header-logo img{ vertical-align:top}
.header-logo i{ color:#a0a0a0; font-style:normal; margin:0 10px;font-size:28px; line-height:28px; height:28px;vertical-align:top}
.header-logo span{ font-size:24px;vertical-align:bottom}
.header-right{ float:right; margin-top:12px; padding-right:10px}
.header-right img{ vertical-align:middle}
.user-logo{ float:left}
.user-logo img{ border-radius:22px;-webkit-border-radius:22px;-moz-border-radius:22px;}
.messages-icon{ float:left;background:url(http://image.lingcaibao.com/image/2015/2/2015_2_e71dfc73-7f2d-45d4-9e3a-4cd164c4abbc.png) no-repeat 0 -34px; display:inline-block; width:50px; height:40px;}
.user-name{ float:left;margin:15px 10px 0; display:inline}
.user-quit{ float:left; margin-top:15px}
.messages-number{ background:#eb6100; width:20px; height:20px; line-height:20px; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px; position:absolute; color:#fff; font-size:14px; text-align:center; margin-left:21px;}
body{ background:#f2f2f2}

.container{ width:980px; margin:0 auto; padding-bottom:170px }
.content{ background:#fff; width:978px; border:1px solid #e8e8e8; padding:14px 0; margin:10px 0 0px 0;}
/*底部导航*/
.sub-nav{ position:fixed; bottom:0; height:140px; width:100%; }
.sub-nav-bg{ background:#d9d9d9; width:100%; height:85px; position:absolute; top:56px;}
.bgray{background:#c3c3c3;}
.sub-nav-bg:hover{ background:#c3c3c3}
.sub-nav-item{ padding-left:70px; position:relative; z-index:2; height:150px;}
.sub-nav-item li{ width:110px; height:140px; background:url(../images/t1.png) no-repeat; overflow:hidden; float:left;  margin-right:35px; cursor:pointer}
.sub-nav-item li.s1 span,.sub-nav-item li.s2 span,.sub-nav-item li.s3 span,.sub-nav-item li.s4 span,.sub-nav-item li.s5 span,.sub-nav-item li.s6 span{ display:none; text-align:center}
.sub-nav-item li.s1{ background-position:2px 69px}
.sub-nav-item li.s2{ background-position:-142px 65px}
.sub-nav-item li.s3{ background-position:-288px 65px}
.sub-nav-item li.s4{ background-position:-433px 65px}
.sub-nav-item li.s5{ background-position:-578px 65px}
.sub-nav-item li.s6{ background-position:-727px 65px}
.nav-current li{ background:url(../images/tit-icon-on.png) no-repeat}
.sub-nav-item li.b1{ background-position:-964px 27px; z-index:4}
.sub-nav-item li.b2{ background-position:-1107px 27px; z-index:4}
.sub-nav-item li.b3{ background-position:-1253px 27px; z-index:4}
.sub-nav-item li.b4{ background-position:-1398px 27px; z-index:4}
.sub-nav-item li.b5{ background-position:-1543px 27px; z-index:4}
.sub-nav-item li.b6{ background-position:-1692px 27px; z-index:4}
.sub-nav-item li.b1 span,.sub-nav-item li.b2 span,.sub-nav-item li.b3 span,.sub-nav-item li.b4 span,.sub-nav-item li.b5 span,.sub-nav-item li.b6 span{ display:block; text-align:center; font-size:22px}
.sub-nav-item li.b1 span{ color:#009e96}
.sub-nav-item li.b2 span{ color:#ff1f5e}
.sub-nav-item li.b3 span{ color:#638c0b}
.sub-nav-item li.b4 span{ color:#8957a1}
.sub-nav-item li.b5 span{ color:#f39800}
.sub-nav-item li.b6 span{ color:#448aca}
