/* [export] */

.ABC, .ARCU, .AYCB, .BANKWF, .BGB, .BHB, .BJBANK, .BOB, .BOC, .BOCD, .BOCFCB, .BOCY, .BOD, .BODD, .BOHAIB, .BOHB, .BOJZ, .BOP, .BOQH, .BOQZ, .BOSH, .BOSZ, .BOYK, .BOZK, .BSB, .BZMD, .CABANK, .CBKF, .CBHB, .CCB, .CCQTGB, .CDCB, .CDB, .CDRCB, .CEB, .CGNB, .CGD, .CIB, .CITIC, .CITICN, .CMB, .CMBC, .COMM, .CQBANK, .CRCBANK, .CSCB, .CSRCB, .CZB,.CZCB, .CZCCB, .CZRCB, .DAQINGB, .DBSCN, .DLB, .DRCBCL, .DYCB, .DYCCB, .DYLSCB, .DZBANK, .EGBANK, .FDB, .FJHXBC, .FJNX, .FSCB, .FXCB, .GCB, .GDB, .GDRCC, .GHB, .GLBANK, .GRCB, .GSRCU, .GXRCU, .GYCB, .GZB, .GZRCU, .H3CB, .HANABANK, .HBC, .HBRCU, .HDBANK, .HKB, .HLJRCU, .HNRCC, .HNRCU, .HRBANK, .HSBANK, .HSBC, .HSBK, .HURCB, .HXB, .HXBANK, .HZCB, .ICBC, .JHBANK, .JINCHB, .JJBANK, .JLBANK, .JLRCU, .JNBANK, .JRCB, .JSB, .JSBANK, .JSRCU, .JXBANK, .JXRCU, .JZBANK, .JZCBANK, .KLB, .KSRB, .LHBANK, .LNRCC, .LSBANK, .LSBC, .LSCCB, .LZCCB, .LZYH, .NBBANK, .NBYZ, .NCB, .NDHB, .NHB, .NJCB, .NMGNXS, .NXBANK, .NXRCU, .NYBANK, .NYCB, .ORBANK, .PSBC, .PZHCCB, .QDCCB, .QJCCB, .QLBANK, .RBOZ, .RXCB, .RZB, .SCB, .SCBBANK, .SCCB, .SCRCU, .SDB, .SDEB, .SDRCU, .SHBANK, .SHRCB, .SJBANK, .SNCCB, .SPABANK, .SPDB, .SRBANK, .SRCB, .SXCB, .SXRCCU, .SXRCU, .SZSBK, .TACCB, .TCCB, .TCRCB, .TJBHB, .TLBANK, .TRCB, .TSBANK, .TZCB, .UBCHN, .WHBANK, .WHCCB, .WHRCB, .WJRCB, .WOORI, .WRCB, .WZCB, .XABANK, .XCYH, .XJRCU, .XLBANK, .XMBANK, .XTB, .XXBANK, .XYBANK, .XYFRCB, .YBCCB, .YDRCB, .YNRCC, .YQCCB, .YXCCB, .YZBANK, .ZBCB, .ZGCCB, .ZJKCCB, .ZJNX, .ZJTLCB, .ZRCBANK, .ZYCBANK, .ZZBANK, .ZZYH, .BCM { background:url(http://image.lingcaibao.com/image/2015/6/2015_6_54a55d40-4295-48c9-a78c-2a895499e8bf.png) no-repeat center center
  
}
.ABC {
    background-position: 0 0;
}
.ARCU {
    background-position: 0 -36px;
}
.AYCB {
    background-position: 0 -72px;
}
.BANKWF {
    background-position: 0 -108px;
}
.BGB {
    background-position: 0 -144px;
}
.BHB {
    background-position: 0 -180px;
}
.BJBANK {
    background-position: 0 -216px;
}
.BOB {
    background-position: 0 -221px;
}
.BOC {
    background-position: 0 -252px;
}
.BOCD {
    background-position: 0 -288px;
}
.BOCFCB {
    background-position: 0 -324px;
}
.BOCY {
    background-position: 0 -360px;
}
.BOD {
    background-position: 0 -396px;
}
.BODD {
    background-position: 0 -432px;
}
.BOHAIB {
    background-position: 0 -468px;
}
.BOHB {
    background-position: 0 -504px;
}
.BOJZ {
    background-position: 0 -540px;
}
.BOP {
    background-position: 0 -576px;
}
.BOQH {
    background-position: 0 -612px;
}
.BOQZ {
    background-position: 0 -648px;
}
.BOSH {
    background-position: 0 -684px;
}
.BOSZ {
    background-position: 0 -720px;
}
.BOYK {
    background-position: 0 -756px;
}
.BOZK {
    background-position: 0 -792px;
}
.BSB {
    background-position: 0 -828px;
}
.BZMD {
    background-position: 0 -864px;
}
.CABANK {
    background-position: 0 -900px;
}
.CBKF {
    background-position: 0 -936px;
}
.CBHB{
    background-position: 0 -475px;
}
.CCB {
    background-position: 0 -972px;
}
.CCQTGB {
    background-position: 0 -1008px;
}
.CDCB {
    background-position: 0 -1044px;
}
.CDB {
	 background-position: 0 -6930px;
}
.CDRCB {
    background-position: 0 -1080px;
}
.CEB {
    background-position: 0 -1116px;
}
.CGNB {
    background-position: 0 -1152px;
}
.CGD {
    background-position: 0 -2203px;
}
.CIB {
    background-position: 0 -1188px;
}
.CITIC {
    background-position: 0 -1224px;
}
.CITICN {
    background-position: 0 -1260px;
}
.CMB {
    background-position: 0 -1296px;
}
.CMBC {
    background-position: 0 -1332px;
}
.COMM {
    background-position: 0 -1368px;
}
.CQBANK {
    background-position: 0 -1404px;
}
.CRCBANK {
    background-position: 0 -1440px;
}
.CSCB {
    background-position: 0 -1476px;
}
.CSRCB {
    background-position: 0 -1512px;
}
.CZB {
    background-position: 0 -6884px;
}
.CZCB {
    background-position: 0 -1548px;
}
.CZCCB {
    background-position: 0 -1584px;
}
.CZRCB {
    background-position: 0 -1620px;
}
.DAQINGB {
    background-position: 0 -1656px;
}
.DBSCN {
    background-position: 0 -1692px;
}
.DLB {
    background-position: 0 -1728px;
}
.DRCBCL {
    background-position: 0 -1764px;
}
.DYCB {
    background-position: 0 -1800px;
}
.DYCCB {
    background-position: 0 -1836px;
}
.DYLSCB {
    background-position: 0 -1872px;
}
.DZBANK {
    background-position: 0 -1908px;
}
.EGBANK {
    background-position: 0 -1944px;
}
.FDB {
    background-position: 0 -1980px;
}
.FJHXBC {
    background-position: 0 -2016px;
}
.FJNX {
    background-position: 0 -2052px;
}
.FSCB {
    background-position: 0 -2088px;
}
.FXCB {
    background-position: 0 -2124px;
}
.GCB {
    background-position: 0 -2160px;
}
.GDB {
    background-position: 0 -2196px;
}
.GDRCC {
    background-position: 0 -2232px;
}
.GHB {
    background-position: 0 -2268px;
}
.GLBANK {
    background-position: 0 -2304px;
}
.GRCB {
    background-position: 0 -2340px;
}
.GSRCU {
    background-position: 0 -2376px;
}
.GXRCU {
    background-position: 0 -2412px;
}
.GYCB {
    background-position: 0 -2448px;
}
.GZB {
    background-position: 0 -2484px;
}
.GZRCU {
    background-position: 0 -2520px;
}
.H3CB {
    background-position: 0 -2556px;
}
.HANABANK {
    background-position: 0 -2592px;
}
.HBC {
    background-position: 0 -2628px;
}
.HBRCU {
    background-position: 0 -2664px;
}
.HDBANK {
    background-position: 0 -2700px;
}
.HKB {
    background-position: 0 -2736px;
}
.HLJRCU {
    background-position: 0 -2772px;
}
.HNRCC {
    background-position: 0 -2808px;
}
.HNRCU {
    background-position: 0 -2844px;
}
.HRBANK {
    background-position: 0 -2880px;
}
.HSBANK {
    background-position: 0 -2916px;
}
.HSBC {
    background-position: 0 -2952px;
}
.HSBK {
    background-position: 0 -2988px;
}
.HURCB {
    background-position: 0 -3024px;
}
.HXB {
    background-position: 0 -3067px;
}
.HXBANK {
    background-position: 0 -3060px;
}
.HZCB {
    background-position: 0 -3096px;
}
.ICBC {
    background-position: 0 -3132px;
}
.JHBANK {
    background-position: 0 -3168px;
}
.JINCHB {
    background-position: 0 -3204px;
}
.JJBANK {
    background-position: 0 -3240px;
}
.JLBANK {
    background-position: 0 -3276px;
}
.JLRCU {
    background-position: 0 -3312px;
}
.JNBANK {
    background-position: 0 -3348px;
}
.JRCB {
    background-position: 0 -3384px;
}
.JSB {
    background-position: 0 -3420px;
}
.JSBANK {
    background-position: 0 -3456px;
}
.JSRCU {
    background-position: 0 -3492px;
}
.JXBANK {
    background-position: 0 -3528px;
}
.JXRCU {
    background-position: 0 -3564px;
}
.JZBANK {
    background-position: 0 -3600px;
}
.JZCBANK {
    background-position: 0 -3636px;
}
.KLB {
    background-position: 0 -3672px;
}
.KSRB {
    background-position: 0 -3708px;
}
.LHBANK {
    background-position: 0 -3744px;
}
.LNRCC {
    background-position: 0 -3780px;
}
.LSBANK {
    background-position: 0 -3816px;
}
.LSBC {
    background-position: 0 -3852px;
}
.LSCCB {
    background-position: 0 -3888px;
}
.LZCCB {
    background-position: 0 -3924px;
}
.LZYH {
    background-position: 0 -3960px;
}
.NBBANK {
    background-position: 0 -3996px;
}
.NBYZ {
    background-position: 0 -4032px;
}
.NCB {
    background-position: 0 -4068px;
}
.NDHB {
    background-position: 0 -4104px;
}
.NHB {
    background-position: 0 -4140px;
}
.NJCB {
    background-position: 0 -4176px;
}
.NMGNXS {
    background-position: 0 -4212px;
}
.NXBANK {
    background-position: 0 -4248px;
}
.NXRCU {
    background-position: 0 -4284px;
}
.NYBANK {
    background-position: 0 -4320px;
}
.NYCB {
    background-position: 0 -4356px;
}
.ORBANK {
    background-position: 0 -4392px;
}
.PSBC {
    background-position: 0 -4428px;
}
.PZHCCB {
    background-position: 0 -4464px;
}
.QDCCB {
    background-position: 0 -4500px;
}
.QJCCB {
    background-position: 0 -4536px;
}
.QLBANK {
    background-position: 0 -4572px;
}
.RBOZ {
    background-position: 0 -4608px;
}
.RXCB {
    background-position: 0 -4644px;
}
.RZB {
    background-position: 0 -4680px;
}
.SCB {
    background-position: 0 -4716px;
}
.SCBBANK {
    background-position: 0 -4752px;
}
.SCCB {
    background-position: 0 -4788px;
}
.SCRCU {
    background-position: 0 -4824px;
}
.SDB {
    background-position: 0 -4860px;
}
.SDEB {
    background-position: 0 -4896px;
}
.SDRCU {
    background-position: 0 -4932px;
}
.SHBANK {
    background-position: 0 -4968px;
}
.SHRCB {
    background-position: 0 -5004px;
}
.SJBANK {
    background-position: 0 -5040px;
}
.SNCCB {
    background-position: 0 -5076px;
}
.SPABANK {
    background-position: 0 -5112px;
}
.SPDB {
    background-position: 0 -5148px;
}
.SRBANK {
    background-position: 0 -5184px;
}
.SRCB {
    background-position: 0 -5220px;
}
.SXCB {
    background-position: 0 -5256px;
}
.SXRCCU {
    background-position: 0 -5292px;
}
.SXRCU {
    background-position: 0 -5328px;
}
.SZSBK {
    background-position: 0 -5364px;
}
.TACCB {
    background-position: 0 -5400px;
}
.TCCB {
    background-position: 0 -5436px;
}
.TCRCB {
    background-position: 0 -5472px;
}
.TJBHB {
    background-position: 0 -5508px;
}
.TLBANK {
    background-position: 0 -5544px;
}
.TRCB {
    background-position: 0 -5580px;
}
.TSBANK {
    background-position: 0 -5616px;
}
.TZCB {
    background-position: 0 -5652px;
}
.UBCHN {
    background-position: 0 -5688px;
}
.WHBANK {
    background-position: 0 -5724px;
}
.WHCCB {
    background-position: 0 -5760px;
}
.WHRCB {
    background-position: 0 -5796px;
}
.WJRCB {
    background-position: 0 -5832px;
}
.WOORI {
    background-position: 0 -5868px;
}
.WRCB {
    background-position: 0 -5904px;
}
.WZCB {
    background-position: 0 -5940px;
}
.XABANK {
    background-position: 0 -5976px;
}
.XCYH {
    background-position: 0 -6012px;
}
.XJRCU {
    background-position: 0 -6048px;
}
.XLBANK {
    background-position: 0 -6084px;
}
.XMBANK {
    background-position: 0 -6120px;
}
.XTB {
    background-position: 0 -6156px;
}
.XXBANK {
    background-position: 0 -6192px;
}
.XYBANK {
    background-position: 0 -6228px;
}
.XYFRCB {
    background-position: 0 -6264px;
}
.YBCCB {
    background-position: 0 -6300px;
}
.YDRCB {
    background-position: 0 -6336px;
}
.YNRCC {
    background-position: 0 -6372px;
}
.YQCCB {
    background-position: 0 -6408px;
}
.YXCCB {
    background-position: 0 -6444px;
}
.YZBANK {
    background-position: 0 -6480px;
}
.ZBCB {
    background-position: 0 -6516px;
}
.ZGCCB {
    background-position: 0 -6552px;
}
.ZJKCCB {
    background-position: 0 -6588px;
}
.ZJNX {
    background-position: 0 -6624px;
}
.ZJTLCB {
    background-position: 0 -6660px;
}
.ZRCBANK {
    background-position: 0 -6696px;
}
.ZYCBANK {
    background-position: 0 -6732px;
}
.ZZBANK {
    background-position: 0 -6768px;
}
.ZZYH {
    background-position: 0 -6804px;
}
.BCM{background-position:0 -6840px;}