<form action="" id="marketform" name="marketform">
	<div class="white-box-a">
		<div class="market-title clearfix">
			<div class="market-title-left">活动设置</div>
			<div class="put-button"></div>
		</div>
		<div class="order-statue ques-box" id="ques_box1">
			<div class="order-item">
				<label>活动名称：</label>
				<div class="order-right">
					<input type="text" placeholder="名称" class="sr-text" value="$!marketplan.marketName" id="activityName" name="activityName"/>
					<div class="tipinfo no-inline"></div>
				</div>
				
			</div>
			<div class="order-item">
				<label>活动周期：</label>
				<div class="order-right clearfix">
					<div class="order-date">
						<input type="text" class="sr-text date-text" value="$!marketplan.startTimeStr" id="startTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:'%y-%M-%d',maxDate:'#F{$dp.$D(\'endTime\')||\'2030-10-01\'}'})" onblur="prizeClass.checkTime()"/>至
						<input type="text" class="sr-text date-text" value="$!marketplan.endTimeStr" id="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'startTime\')}',maxDate:'2030-10-01'})" onblur="prizeClass.checkTime()"/>
					</div>
					<p id="errorTime" class="form_error_class f12"></p>
				</div>
			</div>
			<div class="order-item prizeClass">
				<div class="order-item">
					<label>奖品类型：</label>
					<div class="order-right clearfix" id="prizeType">
						<ul class="button-box clearfix fl prizeClass">
							<li onclick="prizeClass.prizeTypeFun('0','LOTTERY',fWrap_1,this)"><a class="ui-button" value="LOTTERY">彩票</a></li>
							<li onclick="prizeClass.prizeTypeFun('0','CALL',fWrap_2,this)"><a class="ui-button" value="CALL">话费</a></li>
							<li onclick="prizeClass.prizeTypeFun('0','FLOW',fWrap_3,this)"><a class="ui-button" value="FLOW">流量</a></li>
							<li onclick="prizeClass.prizeTypeFun('0','QB',fWrap_4,this)"><a class="ui-button" value="QB">Q币</a></li>
							<li onclick="prizeClass.prizeTypeFun('0','CINEMA',fWrap_5,this)"><a class="ui-button" value="CINEMA">电影券</a></li>
						</ul>
						<p id="errorprizeType" class="form_error_class f12"></p>
					</div>
				</div>
				<div class="lotteryWrap" id="fWrap_1" style="display: none">
					<div class="order-item">
						<label>选择彩种：</label>
						<div class="order-right clearfix">
							<ul class="button-box clearfix fl" id="CZ">
								<li onclick="prizeClass.lotteryClassFun(FC)"><a class="ui-button ui-button-on" value="FC">福彩</a></li>
								<li onclick="prizeClass.lotteryClassFun(TC)"><a class="ui-button" value="TC">体彩</a></li>
							</ul>
						</div>
					</div>
					<div class="3dWrap" id="gameIdArea">
						<div class="order-item" id="FC">
							<label></label>
							<div class="order-right clearfix">
								<ul class="button-box clearfix fl">
									<li><a class="ui-button ui-button-on" value="SSQ">双色球</a></li>
									<li><a class="ui-button" value="3D">3D</a></li>
								</ul>
							</div>
						</div>
						<div class="order-item" id="TC" style="display: none">
							<label></label>
							<div class="order-right clearfix">
								<ul class="button-box clearfix fl">
									<li><a class="ui-button ui-button-on" value="DLT">大乐透</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="order-item">
						<label>零彩面额：</label>
						<div class="order-right clearfix">
							<ul class="button-box clearfix fl" id="quotaValue">
								<li><a class="ui-button ui-button-on" value="0.1">0.1元</a></li>
								<li><a class="ui-button" value="0.2">0.2元</a></li>
								<li><a class="ui-button" value="0.5">0.5元</a></li>
								<li><a class="ui-button" value="1">1元</a></li>
								<li><a class="ui-button" value="2">2元</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="fWrap_2" style="display: none"></div>
				<div id="fWrap_3" style="display: none"></div>
				<div id="fWrap_4" style="display: none"></div>
				<div id="fWrap_5" style="display: none"></div>
				<div id="fWrap_0" style="display: none"></div>
			</div>
			<div class="order-item">
				<label>用户领奖频率：</label>
				<div class="order-right">
					<input type="text" placeholder="" value="" name="frequency" id="frequency" class="sr-text budgetCtr" style="width: 120px"/>
					<font class="f16">次</font>
					<select class="select-button"style="width: 155px" id="frequencyUnit">
						<option value="d" selected="selected">每日</option>
						<option value="w">每周</option>
						<option value="m">每月</option>
						<option value="y">每年</option>
					</select>
					<div class="tipinfo no-inline"></div>
				</div>
			</div>
			<div class="order-item">
				<label>预期互动次数：</label>
				<div class="order-right">
					<input id="totality" name="totality" type="text" value="$!marketplan.interactnum" placeholder="" class="sr-text w120"/> 
					<div class="tipinfo no-inline"></div>
				</div>
			</div>	
			<div class="order-item">
				<label></label>
				<div class="order-right">
					<input type="button" value="保存" onclick="testDrive.saveActivity();" class="ui-button-green2"/>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</form>